.header {
height: 70px;
background-color: var(--bg-dark);
display: flex;
align-items: center;
color: white;
position: absolute;
left: 0;
top: 0;
width: 100%;
z-index: 35;
}
.header.active {
position: fixed;
}
.header .container {
    position: relative;
}
.header .logo {
flex-basis: 60px;
z-index: 3;
z-index: 25;
}
.header .logo img {
width: 50px;
}
.header .links {
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
align-items: center;
flex-basis: calc(100% - 60px);
}
@media (max-width : 960px) {
.header .links {
position: absolute;
top: 0;
left: 0;
flex-direction: column;
width: 100%;
background-color: var(--bg-dark);
justify-content: center;
height: 400px;
transform: translateY(-120%);
transition: 0.7s;
z-index: 20;
}
.header .links.active {
transform: translateY(0) !important;
transition: 0.5s;

}
.header .links .links-list {
flex-direction: column;
text-align: center;
}
.header .links .links-list .list-items {
margin-bottom: 20px;
margin-right: 0;
}
.header .links .links-list .list-items a {
    font-size: 25px;
}
.header .links .links-git {
margin-top: 30px;
}
}
.header .links .links-list {
display: flex;
flex-wrap: wrap;
}
.header .links .links-list .list-items {
margin-right: 35px;
padding-bottom: 5px;
position: relative;
}
.header .links .links-list .list-items::before {
position: absolute;
content: '';
width: 0%;
height: 4px;
background-color: var(--main-color);
left: 0;
bottom: 0;
}
.header .links .links-list .list-items:hover::before {
    width: 100%;
    transition: 0.6s;
}
.header .links .links-list .list-items a {
font-size: 17px;
}
.header .links .links-list .list-items a:hover {
color: white;
}
.header .links .links-list .list-items a span {
margin-right: 05px;
font-size: 20px;
}
.header .links .links-git {
background-color: var(--second-color);
padding: 5px 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
}
.header .links .links-git:hover {
transform: translateY(-5px);
transition: 0.8s;
}
.header .button {
width: 30px;
height: 30px;
flex-direction: column;
justify-content: center;
align-items: flex-start ;
margin-left: 20px;
cursor: pointer;
display: none;
position: absolute;
right: 10px;
z-index: 25;
}
.header .button span {
width: 100%;
height: 3px;
background-color: var(--second-color);
margin-bottom: 5px;
}
.header .button span:nth-child(2) {
    width: 80%;
}
@media (max-width : 960px) {
    .header .button {
        display: flex;
    }
}