.find-me {
background-color: var(--bg-dark);
display: flex;
 justify-content: center;
align-items: center;
padding: 60px 0;
color: white;
}
.find-me .content {

}
.find-me h2 {
font-size: 45px;
}
.find-me p {
font-size: 18px;
}
.find-me p span {
color: var(--main-color);
}
.find-me .links {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 40px;
}
.find-me .links a {
color: var(--main-color);
font-size: 22px;
padding: 08px;
transition: 0.4s;
border-radius: 50%;
}
.find-me .links a:hover {
box-shadow: 0 0 5px #87209e;
color: var(--second-color);
}